body{
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 20px;
	font-size: 120%;
}

header{
	background-color: #9c9c9c; 
	background: url("flywheel.jpg");
	background-size: 100%;
}

h1{
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 300%;
}

nav a{
	border: solid;
	border-color: rgba(255, 255, 255, 0);
	border-radius: 5px 5px 5px 5px;
	padding: 10px;
	padding-right:50px;
	padding-left:50px; 
	margin-left: 140px;
	margin-bottom: 45px; 
	display: inline-block;
	color: #000000;
	background: rgba(255, 255, 255, 0.3);
	text-decoration: none;

}

.active{
	background-color: #ffffff;
}

.left{
	background-color: #708515; 
	width: 20%;
	padding: 50px 30px 100px 30px;
	display: inline-block;
	float: left;
	margin-right: 20px;

}

.left img{
	border: solid;
	border-color: #000000;
	width: 100%;
	display: block;
	margin-bottom: 50px; 
}

.right{
	display: inline;
}

